<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Target</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <a href="{% url 'budget:transaction' %}" class="btn btn-outline-info me-2">Back</a>
</head>
<body>
{% block content %}
            <div class="container mt-5">
                <h2 class="text-center mb-4">Your transaction Statistics</h2>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card shadow p-4">
                            <canvas id="transactionsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('transactionsChart').getContext('2d');


                const labels = {{ labels | safe }};
                const values = {{ values | safe }};

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Total transactions (PLN)',
                            data: values,
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.6)',
                                'rgba(255, 99, 132, 0.6)',
                                'rgba(75, 192, 192, 0.6)',
                                'rgba(255, 206, 86, 0.6)',
                                'rgba(153, 102, 255, 0.6)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {beginAtZero: true}
                        }
                    }
                });
            </script>
        {% endblock %}
</body>
</html>
