<!DOCTYPE html>
<html lang="en">
<head class="bg-dark text-white p-3">
    <h1 class="text-center">Sign Up</h1>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
</head>
<body>

<form action='' method="POST" class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}
    <div class="mb-3">
  <label for="first_name" class="form-label">Username</label>
  <input
    type="text"
    id="first_name"
    name="first_name"
    class="form-control w-75">
</div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control w-75" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control w-75" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Sing Up</button>
</form>
</body>
</html>